body {
  font-family: sans-serif;
}

article {
  display: flex;
  flex-direction: column;
}

.question {
  display: none;
}

.calculate {
  display: none;
}

.interest {
  display: none;
}

.result {
  display: none;
}

#img {
  max-width: 80%;
  max-height: 80%;
  align-items: center;
}

.share {
  margin: 0 auto;
}

.bear {
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 13%;
}
.front {
  max-width: 60%;
  margin-bottom: 20px;
}

.front_button {
  width: 50%;
  border: 0;
  margin-bottom: 50px;
}
.front_button:focus {
  border: 0;
  outline: none;
}
.interest_text {
  text-align: center;
  margin-top: 30px;
}

.result_insta {
  max-width: 40%;

  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.result_panel {
  max-width: 100%;

  margin: 0 auto;
  margin-top: 5px;
}

.btn_text {
  font-family: "Jua", sans-serif;

  width: 288px;
  margin: 0 auto;
  font-size: 14px;
}

.question_text {
  font-family: "Jua", sans-serif;
  font-weight: bold;
  color: #0f9cefff;
  margin: auto;
  width: 288px;
  margin-top: 25px;

  text-align: center;
  font-size: 23px;
}

.result_type {
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 288px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.calculate_img {
  max-width: 75%;
}

.cart {
  position: absolute;
  margin-left: -19.5px;
  margin-top: -23px;
  max-width: 60px;
}

.bar {
}

.displayNumber {
  font-family: sans-serif;
  font-weight: 550;
  color: grey;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.titleNumber {
  font-family: "Rammetto One", cursive;

  color: #0f9cefff;
  font-size: 23px;
  text-align: center;
  margin-top: 40px;
}

.result_name {
  font-family: "Rammetto One", cursive;

  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
